*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(58, 56, 56);
}
.navul li{
    color: rgb(206, 203, 200);
}
.navul li:hover{
    color: white;
}
svg{
    fill: rgb(240, 243, 243);;
}

@media screen and (max-width: 1000px) {
    #banner {
      background-image: url(img/ban-phone.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

    } }
    @media screen and (min-width: 1000px) {
        #banner {
            background-color: black;
          background-image: url(img/ban-desk.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        } }
 
@media screen and (max-width: 840px) {
    #banner1 {
      background-image: url(img/ban1-mob.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

    } }
    @media screen and (min-width: 840px) {
        #banner1 {
          background-image: url(img/ban1-desk.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        } }       
        
        
        @media screen and (max-width: 840px) {
            #banner2 {
              background-image: url(img/ban2-mob.jpg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
        
            } }
            @media screen and (min-width: 840px) {
                #banner2 {
                  background-image: url(img/ban2-desk.jpg);
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                } }  

#card1{
    background-image: url(img/card1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#card2{
    background-image: url(img/card2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#card3{
    background-image: url(img/card3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#card4{
    background-image: url(img/card4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#card5{
    background-image: url(img/card5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#card6{
    background-image: url(img/card6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.under:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

.under{
    line-height: 1.5rem;
}
.scrolling{
    top: -600px;
}